body{
    background: url(../images/tnx.jpg) 50% 0 no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: center;
    min-height: calc(100vh - 2rem - 4rem);
    padding-bottom: 4rem;
}
p{
    border: solid 3px rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 800px;
    max-width: 90%;
    display: block;
    margin: 2rem auto 4rem;
    color: #fff;
    text-align: center;
    font-size: 38px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0px 20px 50px black;
}
a{
    background: #12bd00;
    color: #fff;
    outline: none !important;
    border: none !important;
    text-decoration: none !important;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 28px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    display: flex;
    width: 160px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
a:hover{
    color:#fff;
    opacity: .5;
    transition: 0.2s;
    box-shadow: 0px 20px 50px black;
}

ul.row {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #434c54;
    padding: 1% 0;
}
.video_wr iframe, .yt_video {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}
.yt_video iframe{
    pointer-events: none;
}
.video_wr .row > li {
    padding-bottom: 56.25%;
}

@media only screen and (max-width: 992px){
    p{
        font-size: 26px;
    }
    body{
        padding-bottom: 0;
        padding: 0 10px;
    }
}

@media (min-width: 768px){
    .video_wr .row > li {
        padding-bottom: calc(56.25% / 2);
    }
}